<div id = "header">
	<a href="/"><h1>Flash Cards</h1></a>
	<h4>Flashy Cards</h4>
</div>

<div id = "login_body">
	<h1><%= @error %> </h1>
	<h1>Login</h1>
	<form action= "/login" method= "POST">
		<input type="text" name="name_login" value="Username">
		</br>
		</br>
		<input type="password" name="pass_login" value="Password">
		</br>
		</br>
		<input type="submit" value="Submit">
	</form>
	<h1>Sign Up</h1>
	<form action= "/newuser" method= "POST">
		<input type="text" name="name_create" value="Username">
		</br>
		</br>
		<input type="password" name="pass_create" value="Password">
		</br>
		</br>
		<input type="submit" value="Submit">
	</form>
</div>
