<div id = "header">
	<a href="/"><h1>Flash Cards</h1></a>
	<h4>Flashy Cards</h4>
</div>

<div id = "login_body">
	<h1>Enter your name to login or create new account</h1>
	<form action= "/login" method= "POST">
		<input type="text" name="user_input" value="">
		<input type="submit" value="Submit">
	</form>
</div>