<div id = "header">
	<a href="/"><h1>Flash Cards</h1></a>
	<h4>Flashy Cards</h4>
</div>


<div id = "result">
	<h1>You're response was <%=@result %>!</h1>
	<h3>The right answer was <%= @answer %>!</h3>
	<a href="/play"><div id = "nextcard"><p>Next</p></div></a>
</div>